@model IEnumerable<SosDog.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto_Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalizacaoAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto_Perfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalizacaoAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Usuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Usuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Usuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
